# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env
.python-version

# DS Store (Mac)
.DS_Store

# Data (optional - if dataset is large)
# data/